<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">

                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="teachers" [columns]="cols" responsiveLayout="scroll" [globalFilterFields]="[ 'name',
            'email', 'celular', 'salario']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10, 20,30]"
                     [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} de {last} no total de {totalRecords}"
                     [(selection)]="selectedTeachers" selectionMode="multiple" [rowHover]="true" dataKey="id">

            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="m-0">Gerenciar Aluno</h5>
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." class="w-full sm:w-auto"/>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id"> id
                        <p-sortIcon field="id"></p-sortIcon>
                    </th>
                    <th pSortableColumn="name"> Nome
                        <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="email"> E-mail
                        <p-sortIcon field="email"></p-sortIcon>
                    </th>
                    <th pSortableColumn="phone"> Celular
                        <p-sortIcon field="phone"></p-sortIcon>
                    </th>
                    <th pSortableColumn="salary"> Salario
                        <p-sortIcon field="salary"></p-sortIcon>
                    </th>
                    <th pSortableColumn="cep"> Cep
                        <p-sortIcon field="cep"></p-sortIcon>
                    </th>
                    <th pSortableColumn="city"> Cidade
                        <p-sortIcon field="city"></p-sortIcon>
                    </th>
                    <th pSortableColumn="street"> Rua
                        <p-sortIcon field="street"></p-sortIcon>
                    </th>
                    <th pSortableColumn="state"> UF
                        <p-sortIcon field="state"></p-sortIcon>
                    </th>
                    <th pSortableColumn="country"> País
                        <p-sortIcon field="country"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-teacher>
                <tr>
                    <td style="width: 10%; min-width: 6rem">
                        <span class="p-column-title">ID</span> {{ teacher.id }}
                    </td>
                    <td style="width: 14%; min-width: 10rem">
                        <span class="p-column-title">Nome</span> {{ teacher.name }}
                    </td>
                    <td style="width: 14%; min-width: 10rem">
                        <span class="p-column-title">E-mail</span>{{ teacher.email }}
                    </td>
                    <td style="width: 10%; min-width: 9rem">
                        <span class="p-column-title">Celular</span> {{ teacher.phone }}
                    </td>
                    <td style="width: 20%; min-width: 12rem">
                        <span class="p-column-title">Mensalidade</span> {{ teacher.salary | currency: "BRL" }}
                    </td>
                    <td style="min-width: 8rem">
                        <span class="p-column-title">Cep</span> {{ teacher.cep }}
                    </td>
                    <td style="min-width: 10rem">
                        <span class="p-column-title">Cidade</span> {{ teacher.city }}
                    </td>
                    <td style="min-width: 8rem">
                        <span class="p-column-title">Rua</span> {{ teacher.street }}
                    </td>
                    <td style="min-width: 6rem">
                        <span class="p-column-title">UF</span> {{ teacher.state }}
                    </td>
                    <td style="min-width: 6rem">
                        <span class="p-column-title">País</span>  {{ teacher.country }}
                    </td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editTeacher(teacher)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteTeacher(teacher)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="teacherDialog" [style]="{ width: '550px' }" header="Aluno" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <form #teacherForm="ngForm" (ngSubmit)="onSubmit(teacherForm.value)">
                    <div class="field">
                        <label for="name">Nome</label>
                        <input type="text" pInputText id="name" name="name"
                               [(ngModel)]="teacher.name" required autofocus [ngClass]="{'ng-invalid ng-dirty':submitted && !teacher.name}"/>

                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !teacher.name"> Name is required. </small>
                    </div>
                    <div class="field"></div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="phone">Celular</label>
                            <p-inputMask mask="(99) 99999-9999" type="text" id="phone" name="phone" [(ngModel)]="teacher.phone"
                                         [ngClass]="{'ng-invalid ng-dirty':submitted && !teacher.phone}">
                            </p-inputMask>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !teacher.phone"> Celular is required. </small>
                        </div>
                        <div class="field col">
                            <label for="email">E-mail</label>
                            <input type="text" pInputText id="email" name="email"
                                   [(ngModel)]="teacher.email" required [ngClass]="{'ng-invalid ng-dirty':submitted && !teacher.email}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !teacher.email"> E-mail is required. </small>
                        </div>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col"><label for="cep">CEP</label>
                            <p-inputMask #inputCEP mask="99999-999" type="text" id="cep" name="cep"
                                         [(ngModel)]="teacher.cep" [ngClass]="{'ng-invalid ng-dirty':submitted && !teacher.cep}"
                                         (onBlur)="getCEPAddress(inputCEP.value)">
                            </p-inputMask>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !teacher.city"> CEP is required. </small>
                        </div>
                        <div class="field col">
                            <label for="city">Cidade</label>
                            <input type="text" pInputText id="city" name="city" [(ngModel)]="teacher.city" required
                                   [ngClass]="{'ng-invalid ng-dirty':submitted && !teacher.city}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !teacher.city"> E-mail is required. </small>
                        </div>
                    </div>
                    <div class="field"><label for="street">Rua</label>
                        <input type="text" pInputText id="street" name="street" [(ngModel)]="teacher.street" required
                               [ngClass]="{'ng-invalid ng-dirty':submitted && !teacher.street}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !teacher.street"> E-mail is required. </small>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col"><label for="state">UF</label>
                            <input type="text" pInputText id="state" name="state" [(ngModel)]="teacher.state"
                                   required [ngClass]="{'ng-invalid ng-dirty':submitted && !teacher.state}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !teacher.state"> UF is required. </small>
                        </div>
                        <div class="field col">
                            <label for="country">País</label>
                            <input type="text" pInputText id="country" name="country" [(ngModel)]="teacher.country"
                                   required [ngClass]="{'ng-invalid ng-dirty':submitted && !teacher.country}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !teacher.country"> País is required. </small>
                        </div>
                        <div class="field col-4">
                            <label for="salary">Mensalidade</label>
                            <input type="number" pInputText id="salary" name="salary" [(ngModel)]="teacher.salary"
                                   required [ngClass]="{'ng-invalid ng-dirty':submitted && !teacher.salary}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !teacher.salary"> Salario is required. </small>
                        </div>
                    </div>
                    <div class="formgrid grid">
                        <div class="field-checkbox col">
                            <p-checkbox [(ngModel)]="teacher.createUser" [binary]="true" id="createUser" name="createUser"></p-checkbox>
                            <label for="createUser">Habilitar usuario</label>
                        </div>
                    </div>
                    <div class="p-dialog-footer">
                        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="teacherForm.invalid" type="submit"></button>
                    </div>
                </form>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteTeacherDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="teacher">Temcerteza que deseja deletar o aluno <b>{{ teacher.name }}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteTeacherDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
