<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="New"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="openNew()"
                        ></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button
                        pButton
                        pRipple
                        label="Export"
                        icon="pi pi-upload"
                        class="p-button-help"
                        (click)="dt.exportCSV()"
                    ></button>
                </ng-template>
            </p-toolbar>

            <p-table
                #dt
                [value]="students"
                [columns]="cols"
                responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="[
                    'name',
                    'email',
                    'celular',
                    'mensalidade'
                ]"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} de {last} no total de {totalRecords}"
                [(selection)]="selectedStudents"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">Gerenciar Aluno</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Buscar..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th> -->
                        <th pSortableColumn="id">
                            id <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">
                            Nome <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <!-- <th>Imagem</th> -->
                        <th pSortableColumn="email">
                            E-mail <p-sortIcon field="email"></p-sortIcon>
                        </th>
                        <th pSortableColumn="phone">
                            Celular <p-sortIcon field="phone"></p-sortIcon>
                        </th>
                        <th pSortableColumn="fees">
                            Mensalidade <p-sortIcon field="fees"></p-sortIcon>
                        </th>
                        <th pSortableColumn="cep">
                            Cep <p-sortIcon field="cep"></p-sortIcon>
                        </th>
                        <th pSortableColumn="city">
                            Cidade <p-sortIcon field="city"></p-sortIcon>
                        </th>
                        <th pSortableColumn="street">
                            Rua <p-sortIcon field="street"></p-sortIcon>
                        </th>
                        <th pSortableColumn="state">
                            UF <p-sortIcon field="state"></p-sortIcon>
                        </th>
                        <th pSortableColumn="country">
                            País <p-sortIcon field="country"></p-sortIcon>
                        </th>

                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-student>
                    <tr>
                        <!-- <td>
                            <p-tableCheckbox
                                [value]="student"
                            ></p-tableCheckbox>
                        </td> -->
                        <td style="width: 10%; min-width: 6rem">
                            <span class="p-column-title">ID</span>
                            {{ student.id }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Nome</span>
                            {{ student.name }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">E-mail</span>
                            {{ student.email }}
                        </td>
                        <td style="width: 10%; min-width: 9rem">
                            <span class="p-column-title">Celular</span>
                            {{ student.phone }}
                        </td>
                        <!-- <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Image</span>
                            <img
                                [src]="
                                    'assets/demo/images/product/' +
                                    student.image
                                "
                                [alt]="student.name"
                                width="100"
                                class="shadow-4"
                            />
                        </td> -->
                        <td style="width: 20%; min-width: 12rem">
                            <span class="p-column-title">Mensalidade</span>
                            {{ student.fees | currency: "BRL" }}
                        </td>
                        <td style="width: 14; min-width: 8rem">
                            <span class="p-column-title">Cep</span>
                            {{ student.cep }}
                        </td>
                        <td style="width: 14; min-width: 10rem">
                            <span class="p-column-title">Cidade</span>
                            {{ student.city }}
                        </td>
                        <td style="width: 14; min-width: 8rem">
                            <span class="p-column-title">Rua</span>
                            {{ student.street }}
                        </td>
                        <td style="width: 14; min-width: 6rem">
                            <span class="p-column-title">UF</span>
                            {{ student.state }}
                        </td>
                        <td style="width: 14; min-width: 6rem">
                            <span class="p-column-title">País</span>
                            {{ student.country }}
                        </td>

                        <td>
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editStudent(student)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-warning"
                                    (click)="deleteStudent(student)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog
            [(visible)]="studentDialog"
            [style]="{ width: '550px' }"
            header="Aluno"
            [modal]="true"
            class="p-fluid"
        >
        <ng-template pTemplate="content">
            <form
                #studentForm="ngForm"
                (ngSubmit)="onSubmit(studentForm.value)"
            >
                    <div class="field">
                        <label for="name">Nome</label>
                        <input
                            type="text"
                            pInputText
                            id="name"
                            name="name"
                            [(ngModel)]="student.name"
                            required
                            autofocus
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    submitted && !student.name
                            }"
                        />
                        <small
                            class="ng-dirty ng-invalid"
                            *ngIf="submitted && !student.name"
                        >
                            Name is required.
                        </small>
                    </div>

                    <div class="field"></div>

                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="phone">Celular</label>

                            <p-inputMask
                                mask="(99) 99999-9999"
                                type="text"
                                id="phone"
                                name="phone"
                                [(ngModel)]="student.phone"
                                [ngClass]="{
                                    'ng-invalid ng-dirty':
                                        submitted && !student.phone
                                }"
                            ></p-inputMask>

                            <small
                                class="ng-dirty ng-invalid"
                                *ngIf="submitted && !student.phone"
                            >
                                Celular is required.
                            </small>
                        </div>
                        <div class="field col">
                            <label for="email">E-mail</label>
                            <input
                                type="text"
                                pInputText
                                id="email"
                                name="email"
                                [(ngModel)]="student.email"
                                required
                                [ngClass]="{
                                    'ng-invalid ng-dirty':
                                        submitted && !student.email
                                }"
                            />
                            <small
                                class="ng-dirty ng-invalid"
                                *ngIf="submitted && !student.email"
                            >
                                E-mail is required.
                            </small>
                        </div>
                    </div>

                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="cep">CEP</label>
                            <p-inputMask
                                #inputCEP
                                mask="99999-999"
                                type="text"
                                id="cep"
                                name="cep"
                                [(ngModel)]="student.cep"
                                [ngClass]="{
                                    'ng-invalid ng-dirty':
                                        submitted && !student.cep
                                }"
                                (onBlur)="getCEPAddress(inputCEP.value)"
                            ></p-inputMask>
                            <small
                                class="ng-dirty ng-invalid"
                                *ngIf="submitted && !student.city"
                            >
                                CEP is required.
                            </small>
                        </div>

                        <div class="field col">
                            <label for="email">Cidade</label>
                            <input
                                type="text"
                                pInputText
                                id="city"
                                name="city"
                                [(ngModel)]="student.city"
                                required
                                [ngClass]="{
                                    'ng-invalid ng-dirty':
                                        submitted && !student.city
                                }"
                            />
                            <small
                                class="ng-dirty ng-invalid"
                                *ngIf="submitted && !student.city"
                            >
                                E-mail is required.
                            </small>
                        </div>
                    </div>

                    <div class="field">
                        <label for="street">Rua</label>
                        <input
                            type="text"
                            pInputText
                            id="street"
                            name="street"
                            [(ngModel)]="student.street"
                            required
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    submitted && !student.street
                            }"
                        />
                        <small
                            class="ng-dirty ng-invalid"
                            *ngIf="submitted && !student.street"
                        >
                            E-mail is required.
                        </small>
                    </div>

                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="cep">UF</label>
                            <input
                                type="text"
                                pInputText
                                id="state"
                                name="state"
                                [(ngModel)]="student.state"
                                required
                                [ngClass]="{
                                    'ng-invalid ng-dirty':
                                        submitted && !student.state
                                }"
                            />
                            <small
                                class="ng-dirty ng-invalid"
                                *ngIf="submitted && !student.state"
                            >
                                UF is required.
                            </small>
                        </div>

                        <div class="field col">
                            <label for="email">País</label>
                            <input
                                type="text"
                                pInputText
                                id="country"
                                name="country"
                                [(ngModel)]="student.country"
                                required
                                [ngClass]="{
                                    'ng-invalid ng-dirty':
                                        submitted && !student.country
                                }"
                            />
                            <small
                                class="ng-dirty ng-invalid"
                                *ngIf="submitted && !student.country"
                            >
                                País is required.
                            </small>
                        </div>
                        <div class="field col-4">
                            <label for="street">Mensalidade</label>
                            <input
                                type="number"
                                pInputText
                                id="fees"
                                name="fees"
                                [(ngModel)]="student.fees"
                                required
                                [ngClass]="{
                                    'ng-invalid ng-dirty':
                                        submitted && !student.fees
                                }"
                            />
                            <small
                                class="ng-dirty ng-invalid"
                                *ngIf="submitted && !student.fees"
                            >
                                Mensalidade is required.
                            </small>
                        </div>
                    </div>
                    <div class="p-dialog-footer" >
                        <button
                            pButton
                            pRipple
                            label="Cancel"
                            icon="pi pi-times"
                            class="p-button-text"
                            (click)="hideDialog()"
                        ></button>
                        <button
                            pButton
                            pRipple
                            label="Save"
                            icon="pi pi-check"
                            class="p-button-text"
                            [disabled]="studentForm.invalid"
                            type="submit"
                        ></button>
                    </div>
                </form>
                </ng-template>




        </p-dialog>

        <p-dialog
            [(visible)]="deleteStudentDialog"
            header="Confirm"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span *ngIf="student"
                    >Tem certeza que deseja deletar o aluno <b>{{ student.name }}</b
                    >?</span
                >
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="No"
                    (click)="deleteStudentDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Yes"
                    (click)="confirmDelete()"
                ></button>
            </ng-template>
        </p-dialog>

        <!-- <p-dialog
            [(visible)]="deleteStudentsDialog"
            header="Confirm"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="No"
                    (click)="deleteStudentsDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Yes"
                    (click)="confirmDeleteSelected()"
                ></button>
            </ng-template>
        </p-dialog> -->
    </div>
</div>
