<div class="header-landing py-2 px-4 mx-0 lg:px-8 flex align-items-center justify-content-between relative lg:static ">
    <a class="flex align-items-center" [routerLink]="['/home']" id="logoPeqGenios" href="#">
        <img src="../../../../../assets/layout/images/logo-white.svg" alt="Sakai Logo" height="50" class="mr-0 lg:mr-2">
        <span class="text-900 font-medium line-height-3 text-white">Pequenos Gênios</span>
    </a>
    <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
        <i class="pi pi-bars text-4xl"></i>
    </a>
    <div class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full left-0 px-6 lg:px-0 z-2" style="top:85%">
        <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row cursor-pointer text-white">
            <li>
                <a pRipple [routerLink]="['/home']" class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3 text-white">
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a pRipple [routerLink]="['/projeto']" class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3 text-white">
                    <span>Projeto</span>
                </a>
            </li>
        </ul>
        <div class="flex justify-content-between lg:block border-top-1 lg:border-top-none surface-border py-3 lg:py-0 mt-3 lg:mt-0">
            <button [routerLink]="['/auth/login']" pButton pRipple label="Login" class="p-button-raised p-button-text border-none ml-5 font-light line-height-2 bg-white text-blue-400"></button>
        </div>
    </div>
</div>
