<p-toast position="top-center"></p-toast>
<div  class="flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden bgLogin">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width: 80%">
        <form
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()"
            class="col-12 xl:col-6"
            style="
                border-radius: 18px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="h-full w-full m-0 py-7 px-4"
            >
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3 text-white">Login</div>
                    <span class="text-600 font-medium text-white-alpha-70"> Área restrita </span>
                </div>

                <div class="w-full md:w-10 mx-auto">
                    <div class="field">
                        <label
                            for="email"
                            class="block text-900 text-xl font-medium mb-2 text-white"
                        >
                            E-mail
                        </label>
                        <input
                            #usernameInput
                            formControlName="username"
                            class="w-full mb-3"
                            type="text"
                            pInputText
                            id="email"
                            required
                            autofocus
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    submitted && f['username'].errors
                            }"
                        />
                        <small
                            *ngIf="submitted && f['username'].errors"
                            class="ng-dirty ng-invalid"
                        >
                            E-mail é obrigatorio.
                        </small>
                    </div>

                    <div class="field">
                        <label
                            for="password"
                            class="block text-900 text-xl font-medium mb-2 text-white"
                        >
                            Senha
                        </label>
                        <input
                            formControlName="password"
                            class="w-full mb-3"
                            type="password"
                            pInputText
                            id="password"
                            required
                            autofocus
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    submitted && f['password'].errors
                            }"
                        />
                        <small
                            *ngIf="submitted && f['password'].errors"
                            class="ng-dirty ng-invalid"
                        >
                            Senha é obrigatoria.
                        </small>
                    </div>

                    <div
                        class="flex align-items-center justify-content-between mb-5 mt-5"
                    >
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer text-white-alpha-70">
                            Esqueci a senha...
                        </a>
                    </div>
                    <div>
                        <button [disabled]="loginForm.invalid" type="submit" pButton pRipple
                                label="Logar" class="w-3 p-3 text-xl button p-button-raised"></button>
                        <button [routerLink]="['/home']" type="button" pButton pRipple
                                label="Voltar" class="w-3 ml-2 p-3 text-xl button p-button-raised p-button-secondary"></button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
