<div class="bg-landing">
    <div class="lineCont">
        <img src="assets/demo/images/landing/line3.png" class="line3" alt="">
    </div>

    <div class="layout">
        <div class="card-foco bg-blue-400">
            <h1>Foco no aluno</h1>
            <p>Com uma experiência educacional centenária, nossa fórmula de sucesso, no entanto, é simples: entender o indivíduo de maneira integral. Nosso trabalho pedagógico é norteado por: ensino de valores, pensamento crítico e aplicação para a vida. Somos comprometidos com a excelência acadêmica e com a formação integral de nossos alunos.
                Oferecemos uma educação prática, ativa e significativa.
                Nossos alunos fazem a diferença!</p>
        </div>
        <div class="bg">
            <img src="assets/demo/images/landing/vetor01.png" style="height: 25rem;">
        </div>
    </div>

</div>
